<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title></title>

    <link rel="stylesheet" type="text/css" href="https://unpkg.com/pell/dist/pell.min.css">
	<link rel="stylesheet" type="text/css" href="/web/main.css">

	
</head>
<body>
	<div id="app">
		<div id="header">
			{{message}}
		</div>
		<div id="app-body">
            <div id="post-order">
                <input id="order-input-box" v-model="post.orderBooks"></input>
                <button class="button" v-on:click="postOrderBooks()">Post</button>
            </div>
            <div id="items-container">
                    ALL ITEMS
                <ul id="items">
                    <li class="item" v-bind:class="{selected: isSelected(item)}"
                    v-for="item in items" v-on:click="selectItem(item)">
                        
                    <img :src="item.itemThumbnail">
                        <b>{{item.itemHrid}}</b>
                        <br>
                         
                    </li>
                </ul>
            </div>
            <div id="current-item-container" v-show="currentItem.itemHrid">
                CURRENT ITEM
                <br>
                <img :src="currentItem.itemThumbnail">
                <b>{{currentItem.itemHrid}}</b>
                <div id="current-item-price-graph" style="width:600px;height:250px;"></div>
            </div>
		</div>
	</div>


	<script src="https://unpkg.com/pell"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.33.1/plotly.min.js"></script>
	<script src="api.js" type="module"></script>
	<script src="main.js" type="module"></script>
</body>
</html>