#items {
    columns: 5;
    -webkit-columns: 5;
    -moz-columns: 5;
}

#current-item-container {
    margin: 5px;
    display:flex;
    align-items: center;
    justify-content: center;
}

#items-container {
    margin: 5px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

#price-graph {
    min-height: 400px;
}

#depth-graph {
    height: 150px;
    margin-top: -10px;
}

.selected {
    border-style:solid;
    box-sizing:border-box;
}